<!DOCTYPE html>
<html>
<head>
    <title>Título de tu aplicación</title>
</head>
<body>
    <div id="columna-izquierda">
        {% if user.is_authenticated %}
            <!-- Si el usuario está loggeado, cargar columna_izquierda_logged.html -->
            {% include 'columna_izquierda_logged.html' %}
        {% else %}
            <!-- Si el usuario no está loggeado, cargar columna_izquierda.html -->
            {% include 'columna_izquierda.html' %}
        {% endif %}
    </div>

    <div id="contenido-principal">
        <!-- Aquí se cargará el contenido principal según los enlaces seleccionados -->
        {% block contenido %}
        {% endblock %}
    </div>
</body>
</html>
