{% extends 'base.html' %}

{% block contenido %}
  <h1>Votos de las películas</h1>

  <form method="GET" id="filtro-form">
    <select name="pelicula" onchange="document.getElementById('filtro-form').submit()">
      <option value="">-Selecciona una opción-</option>
      {% for filma in filmak %}
        <option value="{{ filma.id }}" {% if filma.id == pelicula_id %}selected{% endif %}>{{ filma.izenburua }}</option>
      {% endfor %}
    </select>
  </form>

  {% if votos %}
    {% if pelicula_id %}
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo electrónico</th>
          </tr>
        </thead>
        <tbody>
          {% for voto in votos %}
            {% if voto.filma_id == pelicula_id %}
              <tr>
                <td>{{ voto.filma_gogokoa.erabiltzailea.auth_user.first_name }}</td>
                <td>{{ voto.filma_gogokoa.erabiltzailea.auth_user.last_name }}</td>
                <td>{{ voto.filma_gogokoa.erabiltzailea.auth_user.email }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% else %}
    <p>No hay votos registrados.</p>
  {% endif %}
{% endblock %}
